

<div id="copyright" class="white-text">
    <a class="btn-floating waves-effect waves-red deep-orange darken-4 hoverable btn" href="stores/new"><i class="material-icons left">home</i></a></li>
  <a class="btn-floating waves-effect waves-red deep-orange darken-4 hoverable href="#"><i class="material-icons left">vertical_align_top</i></a></li>

  <br />Webmaster: <%= mail_to "mrizwan@qatar.cmu.edu", "Muhammad Taimur Rizwan", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2019
  <br /><br />
</div>