<div class="card light-blue">
  <div class="card-content white-text">
    <span class="card-title">Quick Links</span>
    <ul class="collection">
      <li><%= link_to 'View All Stores', stores_path, :class => "collection-item" %></li>
      <li><%= link_to 'View All Employees', employees_path, :class => "collection-item" %></li>
      <li><%= link_to 'View All Assignments', assignments_path, :class => "collection-item" %></li>
    </ul>
  </div>
</div>
