$primary-color: #A53820;
$button-height: 26px;
$table-striped-color: #cfd8dc;

//Taken from the lab code
#toast-container {
left:5%;
right: auto !important;
}

//Body styling
html, body {
    padding:0; 
    margin:0; 
    height:100% 
    !important;
}

//Styles the footer on the form pages
.form{
    width: 100%;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 120px
    !important;
}

//Styles the footer on the other pages
#normal{
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 120px
    !important;
}


//sets the background image's attributes
body::after {
  background: url(/assets/A&M.png);
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

//Styles some text
.black-text li a{
    font-family:"Trebuchet MS";
    color:#A53820;
 }
 
//Styles the links on the cards of the homepage
.card-action{
        font-family:"Trebuchet MS";
    text-align:center;
    color:#A53820;
}


//Styles the images on the cards
.card-image{
    width:70%;
    height:70%;
    margin-left: auto;
	margin-right: auto;
	display: block;


}

//Styles everything with the heading class tag
.heading{
    font-family:"Trebuchet MS";
    text-align:center;
    color: #A53820;
}


.link{
    font-family:"Trebuchet MS";
        text-align:center;
    color:#A53820;
}

//Logo on the top left
.logo{
    height: auto;
    width: auto;
    max-height: 64px;
    max-width: 250px;
    padding-right: 10px;
}

.form{
    box-sizing:border-box;
    overflow:auto;
    height:50px !important;
}
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";