$primary-color: #A53820;
$button-height: 26px;
$table-striped-color: #cfd8dc;
#toast-container {
left:1%;
right: auto !important;
}
html, body {
    padding:0; 
    margin:0; 
    height:100% 
    !important;
}


.form{
    width: 100%;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 120px
    !important;
}

#normal{
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 120px
    !important;
}

body::after {
  background: url(/assets/A&M.png);
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

.black-text li a{
    font-family:"Trebuchet MS";
    color:#A53820;
 }
 
.card-action{
        font-family:"Trebuchet MS";
    text-align:center;
    color:#A53820;
}

.card-title{
        font-family:"Trebuchet MS";
    text-align:center;
}

.card-image{
    width:70%;
    height:70%;
    margin-left: auto;
	margin-right: auto;
	display: block;


}

.heading{
    font-family:"Trebuchet MS";
    text-align:center;
    color: #A53820;
}

.link{
    font-family:"Trebuchet MS";
        text-align:center;
    color:#A53820;
}

.logo{
    height: auto;
    width: auto;
    max-height: 64px;
    max-width: 250px;
    padding-right: 10px;
}

.form{
    box-sizing:border-box;
    overflow:auto;
    height:50px !important;
}
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";